:root {
    --azul: blue;
    --ver: red;
    --gre: green;
    --pink: pink;
}

#fish:hover {
    fill: var(--ver);
}

path:hover {
    fill: var(--gre);
}
symbol:hover {
    fill: var(--gre);
}

p {
    color: var(--azul);
}
.icon { border: .2em solid #ccc; }

.single { width: 5em; height: 5em;}

